node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

envVariable.js

# macOS
.DS_Store

# Remove later - Just to list attached Mobile device :)
scriptToStartServer.txt